<% provide(:title, "Forgot Password") %>

<div class="row follow-alert">
  <div class="col-md-6 col-md-offset-3">
  	<p class="info-message">Enter account email to reset your password</p>
		<%= form_for(:password_reset, url: password_resets_path) do |f| %>
			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>

		<%= button_to "Cancel", login_path, :id => "cancel", form_class: "form-button",
      :class => "btn btn-default", :method => :get %>
	</div>
</div>