<% provide(:title, 'Sign up') %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p class="signup-message-top">First time using check-in on the new LCBC app?</p>
		<p class="signup-message-top2">Create a new account and enable simple check-in by filling out the form below.</p>

		<p class="signup-message-note">
			(Note: If you already have a myLCBC or online giving account, you still need to create a new account to enable check-in on the new LCBC app)
		</p>

		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages'%>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :address %>
			<%= f.text_field :address, class: 'form-control' %>

			<%= f.label :date_of_birth %>
			<%= f.date_field :date_of_birth, class: 'form-control' %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :password_confirmation, "Confirm Password" %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
			
			<%= f.submit "SUBMIT", class: "btn btn-primary" %>
		<% end %>

		<%= label_tag "login_link", "Already Have An Account?", class: 'login_link' %>
		<%= button_to "Log-In", login_path, :id => "login_link",
      :class => "btn btn-default btn-login", :method => :get %>
	</div>
</div>